:root {
  --Text: #1a1a1a;
  --Green: #00b172;
  --White: #fff;
}

.nav-bar {
  background-color: var(--White);
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-bar img {
  height: 40px;
  margin-left: 10px;
}

.lists {
  list-style: none;
  display: flex;
}

.lists a {
  text-decoration: none;
  color: var(--Text);
  margin-right: 30px;
}

.background-image {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 80vh;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  flex-direction: column;
}

.header-text h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.header-text p {
  font-size: 35px;
  text-align: center;
}

.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--Text);
}

.separator {
  width: 200px;
  border-bottom: 1px solid var(--Green);
  margin: 2px auto;
}

.content-family {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-family div {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.content-family img {
  max-width: 50%;
}

.content-family h3 {
  margin-top: 10px;
  color: var(--Green);
}

.content-family div {
  margin-top: 10px;
  color: var(--Text);
  font-size: 16px;
}

.green-background {
  width: 100%;
  padding: 20px;
  background-color: #00b172;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  color: var(--White);
  margin: 50px;
  width: 50%;
}

.text h2{
  margin: 50px;

}


.text div {
  margin: 50px;
  width: 400px;
  position: relative;
  flex-basis: auto;
}

.green-backgroundtext h3 {
  margin-top: 10px;
}

.green-background text p {
  margin-bottom: 10px;
}

.logo img{
  position: absolute;
  z-index: 100;
  top: 1200px;
  right: 50%;
 width: 70px;
 height: 70px;
 
}

  .kanye-pic {
  margin-right: 100px;
 
}
